<div id="top" class="header">
  <div class="vert-text">
    <h1>Chess Server</h1>

    <h3>GPS 2014.1</h3>
    <a href="https://github.com/bschettino/chessServer" class="btn btn-default btn-lg">Confira a documentação</a>
  </div>
</div>